@include mobile {
  .subtitle{
    text-align: center !important;
  }
  .subtitle-service{
    min-height: inherit !important;
  }
}
@include touch {
  .subtitle{
    text-align: center !important;
  }
  .subtitle-service{
    min-height: inherit !important;
  }
}

@include desktop-only {

}

@include widescreen-only {

}

@include fullhd {

}
