
@include mobile {
  .subtitle{
    text-align: center !important;
  }
  .subtitle-service{
    min-height: inherit !important;
  }
  #title-brand{
    text-align: center;
    margin-top: 20vh;
    font-size: 4rem;
  }
}
@include touch {
  .subtitle{
    text-align: center !important;
  }
  .subtitle-service{
    min-height: inherit !important;
  }
}

@include desktop-only {

}

@include widescreen-only {

}

@include fullhd {

}

